.header{
    background-color:@color--beta;
    color:@color--gamma;
    font-family:@font-secondary;
    font-size:@font--alpha;
    text-align:center;
    display:grid;
    grid-template-areas:
        " nav nav nav"
        ". title ."
        ". button .";
    &__nav{
        border-bottom: 3px dotted @color--alpha;
        grid-area:nav;
        
        
    }
   
    &__list{
        display:flex;
        justify-content:flex-start;
        list-style:none;
        width: 100%;
        
      &__item{
          color:@color--alpha;  
          margin-right:.8em;
          
      }
    }
}
.landing{
    grid-area:title;
    border-bottom:3px solid @color--alpha;
    

    &__title{
        font-family:@font-primary;
        margin-bottom:.5rem;

        &__sub{
            color:@color--alpha;
            margin-bottom:3rem;
            font-size:@font--alpha;
          

        }
    }
}