.main-content{
    font-size:2rem;
   
    // grid for main content(about,skills,experience)
    display:grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-areas: 
            "about about about"
            "skills skills skills"
           
            "cta cta cta"
            "footer footer footer";
        justify-content:center;
    text-align:center;
    @media only screen and(min-width:1400px){
        grid-template-columns: 50% 50%;

        grid-template-areas: 
        "about about "
        "skills skills"
        "cta  cta"
        "footer  footer";
    }
}
.about{
    // display:flex;
    //     flex-flow: wrap column;

        

    grid-area:about;
    background-color:@color--beta;
    font-family:@font-primary;
    padding:3rem 1.5rem ;
    text-align:center;
    @media only screen and (min-width:1400px){
        font-size:3em;
        
    }
    
    &__title{
        text-align:center;
        color:@color--gamma;
        padding: 0 1em;
    }

    &__text{
        color:@color--alpha;
        
    }

    
}

.cta{
    grid-area:cta;
}
.footer{
    grid-area:footer;
}

    .about__img{
        display:none;
        @media only screen and(min-width:1400px){
            display:inline-block;
            box-shadow: 0 0 1rem .5rem @color--gamma;
            margin: 3rem 1rem;
            color:@color--gamma;
            width:50%;
            max-width:100%;
       & img{
           width:95%;
       }
    }
}