.skills{
    background-color: @color--alpha;
    font-family: @font-primary;
    grid-area:skills;
    h2{
        color:@color--gamma;
        font-family:@font-secondary;
        text-transform:uppercase;
    }
    &__list{
       
        font-size:4rem;
        display:flex;
        list-style:none;
        justify-content:space-between;
        margin:0;
        
    
        


    }
    &__item{
        background-color:@color--gamma;
        box-shadow: 0 2px 0 3px rgba(48, 48, 48, 0.322);
        border: 3px solid @color--beta;
        border-radius:1em;
        color:@color--beta;
        list-style:none;
        margin: 4rem auto;
        padding:1.5em 0;
        width:80%;

    }
    
}